@import "tailwindcss";

@layer utilities {
  @keyframes blob {
    0% {
      transform: scale(1) translate(0px, 0px);
    }
    33% {
      transform: scale(1.2) translate(20px, -20px);
    }
    66% {
      transform: scale(0.9) translate(-15px, 10px);
    }
    100% {
      transform: scale(1) translate(0px, 0px);
    }
  }

  .animate-blob {
    animation: blob 10s infinite ease-in-out;
  }

  .bg-skills-gradient {
    background-image: linear-gradient(
        38.73deg,
        rgba(204, 0, 187, 0.15) 0%,
        rgba(201, 32, 184, 0) 50%
      ),
      linear-gradient(
        141.27deg,
        rgba(0, 70, 209, 0) 50%,
        rgba(0, 70, 209, 0.15) 100%
      );
    background-blend-mode: screen;
  }
}
